body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: rgb(34, 33, 30); 
}
body::-webkit-scrollbar-thumb {
  background-color: #b10b11; 
  border-radius: 20px;  
  border: 3px solid rgb(34, 33, 30); 
}

.content-home {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 1) 0%,
      rgb(19, 19, 19, 0.7) 50%,
      rgba(0, 0, 0, 0.8) 80%,
      rgb(0, 0, 0, 1) 100%
    ),
    url("../assets/imgs/background-home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto;
}

#nav-home {
  color: #ec111a;
}

.menu-header a:hover {
  color: #ec111a;
}

.informations-home {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  padding-top: 110px;
  height: calc(100vh - 100px);
}

.texts-home {
  color: #fff;
}

.texts-home h1 {
  font-size: 66px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -5px;
  font-family: "Roboto";
}

.texts-home p {
  font-weight: 400;
  margin-top: 20px;
  font-size: 22px;
  max-width: 1250px;
  line-height: 30px;
}

.buttons-home{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.buttons{
  color: #fff;
  text-decoration: none;
  font-family: "Roboto";
  width: 70px;
  padding: 20px 80px;
  font-weight: 500;
  clip-path: polygon(7% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 30%);
}

.buttons::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #ec111a;
  transform: rotate(-45deg);
  left: -36px;
}

.btn-visit-api{
  background-color: #ec111a;
  transition: .5s;
}

.btn-visit-api:hover{
  background-color: #b10b11;
}

.btn-visit-project{
  background-color: transparent;
  border: 3px solid #ec111a;
  width: 150px;
  padding: 17px 20px 17px 60px;
  margin-left: 30px;

  /* Animation -----*/
  overflow: hidden;
  position: relative;
}

/* Animation -----*/
.btn-visit-project:after {
  background: #fff;
  content: "";
  height: 9.68rem;
  left: -4.68rem;
  opacity: 0.2;
  position: absolute;
  top: -3.125rem;
  transform: rotate(35deg);
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 3.125rem;
  z-index: -10;
}
.btn-visit-project:hover:after {
  left: 120%;
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}
